body {
  background-color: #FBFCFF;
  margin: 0;
  width: 1440px;
  /* height: 1024px; */
  height: 100%;
}

.sidebar {
  width: 350px;
  height: 100%;
  background-color: rgba(177, 178, 255, 0.73);
  border-radius: 35px;
  position: absolute;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.left-sidebar {
  width: 110px;
  height: 100%;
  background-color: #F6F7FB;
  position: absolute;
  left: 0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 102;
}

.right-sidebar {
  width: 320px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.profile-text {
  color: #9799FE;
  font-size: 18pt;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 700;
}

/*left-sidebar*/
#logo {
  width: 80px;
  margin-top: 40px;
  margin-left: 12px;
  margin-bottom: 20px;
}
#home, #members, #user, #settings {
  width: 35px;
  position: relative;
  right: 10px;
  margin-bottom: 65px;
}

#group_name {
  color: white;
  font-weight: 700;
  /* width: 240px; */
  font-size: 26pt;
  position: relative;
  left: 120px;
}

.sidebar-menu {
  width: 240px;
  position: relative;
  left: 90px;
  top: 20px;
}
.sidebar-menu-items {
  margin-bottom: 55px;
}

.sidebar-menu-items > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.notice-board-category {
  margin-top: 25px;
}
.notice-board-category > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

/*right-sidebar*/
.right-sidebar-icons {
  width: 28px;
  position: relative;
  left: 215px;
  top: 22px;
  margin-left: 10px;
}
.profile {
  /* border: solid 1px; */
  position: relative;
  top: 80px;
  margin: 0 auto;
  text-align: center;
}
#profile-img {
  width: 150px;
  height: 150px;
  /* border: 1px solid ; */
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-name {
  font-size: 28px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid; */
  margin-bottom: 5px;
}
.grade {
  width: 110px;
  height: 30px;
  background-color: #C9BCFF;
  margin: 0 auto;
  border-radius: 15px;
  /* border: 1px solid; */
  color: white;
  padding-top: 3px;
}

.member_or_chatting {
  position: relative;
  top: 115px;
  /* border: 1px solid; */
  text-align: center;
}
.selectbar {
  width: 180px;
  height: 60px;
  font-size: 16px;
  background-color: #9799FE;
  margin: 0 auto;
  border-radius: 40px;
  padding-bottom: 8px;
}
.selectbar > p {
  display: inline-block;
}
.selectbar > .selected {
  border-radius: 30px;
  background-color: white;
  color: #6E63B6;
  width: 90px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 700;
}
.selectbar > .unselected {
  color: white;
  /* border: 1px solid; */
}
/* 여기까지가 사이드바 */

.content {
  /* width: calc(100%-320px); */
  width: 1200px;
  height: 100%;
  background-color: #FBFCFF;
  /* position: relative; */
  position: absolute;
  left: 700px;
  /* border: 1px solid; */
  /* margin-left: 300px; */
  /* margin: 0 auto; */
  overflow-y: auto;
  overflow-x: hidden;
}
.content::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}



.notice-board-header {
  height: 210px;
  padding: 0 20px;
  position: relative;
  /* border: 1px solid; */
}
.notice-board-name {
  font-size: 30pt;
  font-weight: 700;
  position: absolute;
  top: 40px;
  padding-top: 20px;
  /* border: 1px solid; */
}



input {
	border: none;
}
.auto-group-gmxs-YdU {
  margin: 0rem 48rem 2.7rem 2.4rem;
  width: calc(100% - 50.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-gmxs-YdU .assignments-1vN {
  margin-right: 4.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-gmxs-YdU .v-6S2 {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.post_content {
  /* margin-right: 0.2rem; */
  box-sizing: border-box;
  padding: 3.8rem 3.7rem 1.22rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(128, 128, 128, 0.3000000119);
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.post_title {
  margin: 0rem 0rem 1.1rem 0;
  height: 3.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-align: left;
}
.post_title > p {
  position: relative;
  left: 10px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .group-182-mAn {
  margin-right: 0.7rem;
  width: 15.5rem;
  height: 100%;
  flex-shrink: 0;
}
.group-182-mAn .auto-group-2yzv-u26 {
  margin-bottom: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
 .group-182-mAn .auto-group-2yzv-u26 .item--3PC {
  margin: 0.2rem 2.8rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9798fd;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-182-mAn .auto-group-2yzv-u26 .item-20230509--gKg {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-182-mAn .auto-group-yvuj-CYv {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
 .group-182-mAn .auto-group-yvuj-CYv .item--Xr6 {
  margin: 0.2rem 2.8rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9798fd;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .group-182-mAn .auto-group-yvuj-CYv .item-20230516--Div {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .more {
  width: 3rem;
  height: 3rem;
  padding-top: 1rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
  position: relative;
  left: 82%;

}
 .line-61-GBQ {
  margin: 0rem 0.8rem 1.18rem 0.5rem;
  width: calc(100% - 1.3rem);
  height: 0.02rem;
  background-color: #000000;
  flex-shrink: 0;
}
 .writerinfo-BZG {
  margin: 0rem 2.3rem 2.5rem 0.8rem;
  width: calc(100% - 3.1rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 .writerinfo-BZG .writer-uVG {
  margin-right: 40.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 .writerinfo-BZG .writer-uVG .ellipse-71-4d4 {
  margin-right: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #d9d9d9;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.writer_img {
  margin-right: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 35px;
  flex-shrink: 0;
  display: inline-block;
}
 .writerinfo-BZG .writer-uVG .notasheepjun-Nte {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .writerinfo-BZG .item-23-05-05-14-37-JXQ {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #808080;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.quick-sort-merge-sort-bubble-sort--fWN {
  margin: 0rem 24.8rem 8.5rem 0rem;
  max-width: 38.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: JejuGothic, 'Source Sans Pro';
  flex-shrink: 0;
}
.wrcontents-jee {
  margin-right: 1.4159rem;
  width: calc(100% - 1.4159rem);
  height: 3.6796rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrcontents-jee .auto-group-sfry-F7C {
  box-sizing: border-box;
  padding: 1rem 1.478rem 0.152rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrcontents-jee .auto-group-sfry-F7C .fileinfo-9Ca {
  margin: 0rem 43.2rem 0.627rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
 .wrcontents-jee .auto-group-sfry-F7C .fileinfo-9Ca .item--3Yr {
  margin: 0rem 0.5rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
 }
.wrcontents-jee .auto-group-sfry-F7C .fileinfo-9Ca .problemset3docx-8aJ {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #808080;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .wrcontents-jee .auto-group-sfry-F7C .countht-TMg {
  margin-top: 0.0514rem;
  width: 3.9159rem;
  height: 2.4761rem;
  position: relative;
  flex-shrink: 0;
}
 .wrcontents-jee .auto-group-sfry-F7C .countht-TMg .heart-1-zsQ {
  width: 3.0664rem;
  height: 1.8398rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
 .wrcontents-jee .auto-group-sfry-F7C .countht-TMg .item-10-8Tp {
  width: 1.2rem;
  height: 1.6rem;
  position: absolute;
  left: 2.7159rem;
  top: 0.8761rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5f5f5f;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.wrcontents-jee .countcmt-RC2 {
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.wrcontents-jee .countcmt-RC2 .free-icon-chat-8316205-P8r {
  width: 2.1903rem;
  height: 3.6796rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.wrcontents-jee .countcmt-RC2 .item-2-v8n {
  margin-bottom: 0.0646rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5f5f5f;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .auto-group-vncw-bEv {
  margin: 0rem 0.2rem 3.3rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 4.2rem 2.7rem 3.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(128, 128, 128, 0.3000000119);
  border-top: none;
  background-color: #ffffff;
  border-radius: 0 0 2rem 2rem;
  flex-shrink: 0;
}
.comments {
  margin: 0rem 0rem 3.8rem 1.3rem;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.comments .bigcomment-dSW {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comments .bigcomment-dSW .bcinfo-ace {
  margin-bottom: 1rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.comments .bigcomment-dSW .bcinfo-ace .bcuser-88N {
  margin-right: 50.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comments .bigcomment-dSW .bcinfo-ace .bcuser-88N .intersect-UT8 {
  margin-right: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comments .bigcomment-dSW .bcinfo-ace .bcuser-88N .mymelody-pG6 {
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #535353;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comments .bigcomment-dSW .bcinfo-ace .image-26-9JN {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bigcomment-dSW .item--t14 {
  margin-left: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #535353;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.smallcomment-YLW {
  margin-left: 3.2rem;
  width: 20.2rem;
}
.smallcomment-YLW .scuser-gxW {
  margin: 0rem 9.1rem 0.6rem 0rem;
  width: calc(100% - 9.1rem);
  display: flex;
  align-items: center;
}
 .smallcomment-YLW .scuser-gxW .ellipse-70-Rv6 {
  margin-right: 0.7rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #d9d9d9;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.smallcomment-YLW .scuser-gxW .notasheepjun-Acn {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #535353;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.smallcomment-YLW .sccontents-6mL {
  margin-left: 0.1rem;
  max-width: 20.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #535353;
  font-family: JejuGothic, 'Source Sans Pro';
}
 .auto-group-vncw-bEv .commentinput-2Q6 {
  box-sizing: border-box;
  padding: 1.5rem 1.3rem;
  width: 100%;
  height: 5.4rem;
  background-color: rgba(217, 217, 217, 0.25);
  border-radius: 2rem;
  flex-shrink: 0;
}
 .auto-group-vncw-bEv .commentinput-2Q6 .comentcontents-AWJ {
  width: 59.7rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.auto-group-vncw-bEv .commentinput-2Q6 .comentcontents-AWJ .intersect-7RY {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.auto-group-vncw-bEv .commentinput-2Q6 .comentcontents-AWJ .item--ewG {
  margin: 0.5rem 49.4rem 0rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #808080;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-vncw-bEv .commentinput-2Q6 .comentcontents-AWJ .item--wvN {
  margin-top: 0.1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #535353;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-gvcf-gmU {
  margin: 0rem 0.1rem 1.6rem 0.1rem;
  width: calc(100% - 0.2rem);
  height: 52.7rem;
  position: relative;
  flex-shrink: 0;
}
.auto-group-gvcf-gmU .dragdrops-Cjp {
  width: 72rem;
  height: 24.1rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #808080;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed 0.1rem #c9bcff;
  box-sizing: border-box;
  background-color: rgba(201, 188, 255, 0.0500000007);
  border-radius: 2rem 2rem 0 0;
}
.auto-group-gvcf-gmU .hwinput-FTC {
  box-sizing: border-box;
  padding: 3.2rem 4.5rem;
  width: 100rem;
  height: 30.3rem;
  position: absolute;
  left: 0;
  top: 22.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: black;
  font-family: JejuGothic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(128, 128, 128, 0.3000000119);
  background-color: none;
  border-radius: 2rem 2rem 0 0;




/* 과제제출 */
}.item--dN6 .auto-group-gvcf-gmU .hwinput-FTC::placeholder {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #808080;
    font-family: JejuGothic, 'Source Sans Pro';
}
.item--dN6 .submitbtn-ekE {
  margin-left: 61rem;
  width: 11.2rem;
  height: 4rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9bcff;
  border-radius: 5rem;
  flex-shrink: 0;
}
