<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>과제 게시물 조회</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="\css\noticeLook.css"/>
</head>
<body>
  <!-- 사이드바 -->
  <div class="sidebar">
    <div id="group_name"><p>Algorithm<br> Club</p></div>
    <div class="sidebar-menu">
      <ul>
        <div class="sidebar-menu-items"><a href="">group information</a></div>
        <div class="sidebar-menu-items"><a href="">rank</a></div>
        <div class="sidebar-menu-items"><a href="">schedule</a></div>
        <div class="sidebar-menu-items"><a href="">members</a></div>
        <div class="sidebar-menu-items"><a href="">mypage</a></div>
        <div class="sidebar-menu-items">
          <a href="">notice board</a>
          <ul>
            <div class="notice-board-category"><a href="">► notice</a></div>
            <div class="notice-board-category"><a href="">► vote</a></div>
            <div class="notice-board-category"><a href="">► schedule</a></div>
            <div class="notice-board-category"><a href="">► assignments</a></div>
            <div class="notice-board-category"><a href="">► Q&A</a></div>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="left-sidebar">
    <img id="logo" src="/img/Logo.png">
    <ul class="left-sidebar-icons">
      <img id="home" src="/img/home.png">
      <img id="members" src="/img/members.png">
      <img id="user" src="/img/user.png">
      <img id="settings" src="/img/settings.png">
    </ul>
  </div>
  <div class="right-sidebar">
    <!-- 프로필바 상단 -->
    <div>
      <p class="profile-text">My profile</p>
      <img class="right-sidebar-icons" src="/img/profile_settings.png">
      <img class="right-sidebar-icons" src="/img/alarm.png">
    </div>
    
    <!-- 프로필 사진, 이름, 멤버 등급 -->
    <div class="profile">
      <div><img id="profile-img" src="https://i.pinimg.com/564x/ce/4e/36/ce4e36fe3add8d87eaa37e84e1834d6c.jpg"></div>
      <p class="profile-name">cookie</p>
      <p class="grade">member</p>
    </div>

    <!-- 멤버 또는 채팅 창 -->
    <div class="member_or_chatting">
      <!-- 보라색 바 -->
      <div class="selectbar">
        <p class="selected">member</p>
        <p class="unselected">chatting</p>
      </div>
      <!-- 멤버 목록 -->
      <div></div>
      <!-- 채팅창 목록 -->
      <div></div>
    </div>
  </div>





<div class="content">
    <div class="item--dN6">
      <div class="auto-group-gmxs-YdU">
        <p class="assignments-1vN">assignments</p>
        <!-- <p class="v-6S2">V</p> -->
      </div>
      <div class="auto-group-d3ku-RUJ">
        <div class="group-183-vR4">
          <p class="prbloem-set-3-ebx"><%= result[0].postTitle%></p>
          <div class="group-182-mAn">
          
          </div>
          <img class="image-25-wev" src=".././img/image-25.png"/>
        </div>
        <div class="line-61-GBQ">
        </div>
        <div class="writerinfo-BZG">
          <div class="writer-uVG">
            <div class="ellipse-71-4d4">
            </div>
            <!-- <p class="notasheepjun-Nte">notasheepjun</p> -->
          </div>
          <p class="item-23-05-05-14-37-JXQ"><%= result[0].createAt%></p>
        </div>
        <p class="quick-sort-merge-sort-bubble-sort--fWN">
        <%= result[0].postContent%>
        <br/>
        
        <!-- 과제에 얼마나 하기 싫은지 낙서를 그린 것을 제출하면 숙제로 인정해줍니다. -->
        </p>
        <div class="wrcontents-jee">
          <div class="auto-group-sfry-F7C">
            <div class="fileinfo-9Ca">
              <img class="item--3Yr" src=".././img/.png"/>
              <p class="problemset3docx-8aJ">ProblemSet3.docx</p>
            </div>
            <div class="countht-TMg">
              <img class="heart-1-zsQ" src=".././img/heart-1.png"/>
              <p class="item-10-8Tp">10</p>
            </div>
          </div>
          <div class="countcmt-RC2">
            <img class="free-icon-chat-8316205-P8r" src=".././img/free-icon-chat-8316205.png"/>
            <p class="item-2-v8n">2</p>
          </div>
        </div>
      </div>
      <div class="auto-group-vncw-bEv">
        <div class="comments-VbC">
          <div class="bigcomment-dSW">
            <div class="bcinfo-ace">
              <div class="bcuser-88N">
                <img class="intersect-UT8" src=".././img/intersect.png"/>
                <p class="mymelody-pG6">가짜mymelody</p>
              </div>
              <img class="image-26-9JN" src=".././img/image-26.png"/>
            </div>
            <!-- <p class="item--t14">낙서도 그리기 싫어요 그냥 점수만 주세요 ㅋ</p> -->
          </div>
          <div class="smallcomment-YLW">
            <div class="scuser-gxW">
              <div class="ellipse-70-Rv6">
              </div>
              <p class="notasheepjun-Acn">notasheepjun</p>
            </div>
            <p class="sccontents-6mL">
            하기 싫으면 하지 마세요 그냥^^ 학생은 0점이야.
            <br/>
            학생이 아주 그냥 예의가 없네. 어디서 배운 버르장머리야?
            </p>
          </div>
        </div>
        <div class="commentinput-2Q6">
          <div class="comentcontents-AWJ">
            <img class="intersect-7RY" src=".././img/intersect-gra.png"/>
            <input class="item--ewG" type="text"/>
            <p class="item--wvN">등록</p>
          </div>
        </div>
      </div>
      <div class="auto-group-gvcf-gmU">
        <div class="dragdrops-Cjp">Drag files to upload</div>
        <input class="hwinput-FTC" type="text"placeholder="내용을 입력하세요"/>
      </div>
      <div class="submitbtn-ekE">제출</div>
    </div>
  
</div>

</body>